<p style="color: green"><%= notice %></p>

<h1>Estante de livros</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Mostrar livro", post %>
    </p>
  <% end %>
</div>

<%= link_to "Novo livro", new_post_path %>
